/*
Utility
*/
.height50{
    height:50px;
}

.margin0{
    margin: 0px;
}

.margin30{
    margin: 30px;
}
.leftmargin-100{
    margin: 100px;
}

.box300{
    height: 300px;
    width:300px;
}

.sidebox{
    height:596px;
    width: 80px;
}
.box20{
    height:20px;
    width:50px;
}

/*login boxes*/

.flex-align-center{
    justify-content: center;
}

.flex-box-login{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px;
}


.box150{
    height:150px;
    width:150px;
}

.container-80{
    width: 80%;
}
.container-40{
    width:40%;
}
.border-1px{
    border: solid 1px rgb(10, 1, 1);
}

.padding-10{
    padding: 10px;
}


/*HOVER EFFECTS*/

.hovertest {

    transition: background-color .5s;
  }
  
  .hovertest:hover {
    background-color:red;
  }

  body{
      margin:0px;
  }
  .border1px{
  border: solid 1px black;
  }